@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*
  >>> Property 'animation-timeline: scroll()' is an experimental feature (CanIUse: 70%)
  >> Es NECESARIO buscar una alternativa
*/


:root{
  --roboto: "Roboto", serif;
  --white: #f2f2f2;
  --black: #070707;

  /* Green Palette */
  --green-0: #094f29;
  --green-1: #0a6921;
  --green-2: #1a8828;
  --green-3: #429b46;
  --green-4: #64ad62;
  --green-5: #94c58c;
  --green-white: #e3fbdf;
  --green-black: #011008;

  /* Theme */
  --text-color:var(--black);
  --exhalt-color:var(--green-3);
  --background-color-0:var(--green-white);
  --background-color-1:var(--green-3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: var(--roboto);

  color: var(--green-black);
}

html{
  color-scheme: light;
  background-color: var(--green-white);
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.title{
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
}

h1 { 
  text-wrap: nowrap;

  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
}

#main-header {
  display: flex;
  padding: 0 1rem;
  width: 100dvw;
  height: 70px;
  z-index: 100;

  border-bottom: 1px solid var(--black);

  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;

  backdrop-filter: blur(10px);
  background-color: #e3fbdf88;

  animation-name: header-scroll;
  animation-timeline: scroll(root block);
  animation-range-end: 100px;
  animation-fill-mode: both;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;

  background-color: var(--green-white);

  width: 90dvw;
  height: 100dvh;
  padding: 2rem 0 1rem 0;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  & a{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    padding-left: 1rem;
  }

  & h2{
    align-self: center;
  }
}

#pagination-links{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 50%;

  justify-content: space-between;
  transform: translateY(-15%);

  & li {
      font-size: 20pt;
    
      height: 4rem;
    
      display: flex;
      align-items: center;
  }
  & hr {
    border-color: var(--green-black);
    width: 90%;
    align-self: center;
  }
}

#menu-social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
  gap: 1rem;

  & i{
    font-size: 50pt;
  }
  & a{
    padding-left: 0;
  }
}

#menu-icon{
  font-size: 40pt;
  transform: translateY(5%);
}

#image-slider {
  display: flex;
  flex-direction: column;

  justify-content: center;

  height: 50dvh;
  position: relative;

  & .slider-images{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
  }

  & .slider-info{
    position: absolute;
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #01100866;

    align-self: center;
  }
  & h2 {
    text-align: center;
    color: var(--green-white);
  }

  & p {
    color: var(--green-white);
    text-align: center;
    max-width: 90%;
  }

  & a {
    border: 1px solid var(--green-black);
    background-color: var(--green-white);
    color: var(--green-black);
    width: 90%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
  }
}

.slider-image{
  width: 100%;
  height: 100%;

  object-fit: cover;
  background-color: var(--green-5);

  text-align: center;
  font-size: 20pt;
}

main{
  top: 70px;
  position: relative;

  & .main-slice {
    width: 100%;
    height: calc(100dvh - 50px);
  }
  
  & .dark {
    background-color: var(--green-black);
    
    & h3, a, p {
      color: var(--green-white);
    }
  }
  & .light {
    background-color: var(--green-white);
    
    & h3, a, p {
      color: var(--green-black);
    }
  }
}



.hide { display: none }

@keyframes header-scroll {
  to {
    height: 50px;
  }
}